.btn-primary {
  color: rgb(240, 215, 215) !important;
  background-color: #df67c9 !important;
  border-color: #db87e1 !important;
  border-radius: 10px;
  margin: auto !important;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: revert;
  font-family: cursive;
}
